{
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": ["standard", "standard-jsx"],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn"
  }
}
